$c: '.workspaces-menu';

#{$c}-root {
	#{$c}-label {
		color: $dark;
		font-size: $fontSizeExtraSmall;
		font-weight: $fontWeightSemiBold;
		letter-spacing: 0.5px;
		margin-bottom: 4px;
		text-transform: uppercase;
		white-space: nowrap;
	}

	#{$c}-trigger {
		min-width: 0;
	}
}

#{$c}-view-all {
	color: $primary;
	font-weight: $fontWeightSemiBold;
}
