.localizable-dropdown {
    .translation-manager-button:hover {
        background-color: rgba(107, 108, 126, 0.2);
        color: #fff;
        border-color: #6b6c7e;
    }
    .translation-manager-button {
        background-color: #393a4a;
        color: #fff;
        border-color: #6b6c7e;
    }
}
