$cadmin-blue-l1: #4b9bff;
$cadmin-secondary: #6b6c7e;
$cadmin-green: #287d3c;
$cadmin-pink: #da2e75;
$cadmin-teal-l1: #50d2a0;
$cadmin-red-l1: #ff6b6b;
$cadmin-orange-l1: #ffb46e;
$cadmin-purple-l1: #9b6bff;
$cadmin-cyan-l1: #4bc0d9;
$cadmin-pink-l1: #ff73c3;
$cadmin-gray-600: #6b6c7e;

.asset-icon-custom-structure {
	color: $cadmin-blue-l1 !important;
}

.asset-icon-basic-content {
	color: $cadmin-secondary !important;
}

.asset-icon-blog {
	color: $cadmin-green !important;
}

.asset-icon-knowledge-base {
	color: $cadmin-pink !important;
}

.asset-icon-document-default {
	color: $cadmin-secondary !important;
}

.asset-icon-document-compressed {
	color: $cadmin-secondary !important;
}

.asset-icon-document-table {
	color: $cadmin-teal-l1 !important;
}

.asset-icon-document-image {
	color: $cadmin-red-l1 !important;
}

.asset-icon-document-presentation {
	color: $cadmin-orange-l1 !important;
}

.asset-icon-document-vector {
	color: $cadmin-purple-l1 !important;
}

.asset-icon-document-text {
	color: $cadmin-cyan-l1 !important;
}

.asset-icon-document-code {
	color: $cadmin-pink-l1 !important;
}

.asset-icon-folder {
	color: $cadmin-gray-600 !important;
}
