.modal-body {
	.data-set-wrapper.visualization-mode-list {
		.list-sheet.no-header.sheet {
			border-style: none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.management-bar {
			.bulk-actions {
				display: none !important;
			}
		}
	}
}

.modal-dialog.modal-danger {
	.modal-body {
		max-height: calc(100vh - 230px) !important;
	}
}
